* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

html {
	overflow-y: hidden;
}

:root {
	--first: rgba(197, 197, 197, 0.346);
	--secondary: #ff335f;
	--third: #373a3c;
	--success: #00c851;
	--error: #ff0000;
	--light: rgb(250, 250, 250);
}

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	margin-right: 50px;
}

.identity {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.identity img {
	transition: all 0.3s ease-in-out;
}

@keyframes slideUp {
	0% {
		transform: translateY(120%);
	}
	90% {
		transform: translateY(-10%);
	}
	95% {
		transform: translateY(10%);
	}
	98% {
		transform: translateY(-10%);
	}
	100% {
		transform: translateY(0%);
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes shake {
	10%,
	90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%,
	80% {
		transform: translate3d(1px, 0, 0);
	}

	30%,
	50%,
	70% {
		transform: translate3d(-2px, 0, 0);
	}

	40%,
	60% {
		transform: translate3d(2px, 0, 0);
	}
}

.shake {
	animation: shake 0.5s ease-in-out;
}

.slideUp {
	opacity: 100%;
	animation: slideUp 1.5s ease-in-out;
	transition: all 2s ease-in-out;
}

.navbar img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 20px;
}

.navbar h1 {
	color: var(--third);
	font-size: 18px;
}

nav ul {
	position: fixed;
	right: 0;
	height: 76vh;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
	list-style-type: none;
	margin-top: 16px;
}

nav ul li a {
	color: var(--third);
	margin-right: 20px;
	text-decoration: none;
	padding: 5px;
	transition: all 0.2s ease-in-out;
}

nav ul li {
	margin-bottom: 10px;
}

nav ul li span {
	transition: all 0.2s ease-in-out;
}

nav ul li a:hover span {
	color: var(--secondary);
}

nav ul li span {
	font-weight: 700;
}

.home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	height: 76vh;
}

.home-content {
	margin-top: -30px;
}

.home-content ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
}

.home-content li {
	margin-top: 10px;
	margin-right: 20px;
}

.home-content span,
.portfolio span {
	background-color: var(--third);
	color: #fff;
	padding: 0 5px;
	font-weight: bold;
	border-radius: 5px;
}

.socialmedia {
	position: fixed;
	left: 0;
	width: 10%;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	list-style-type: none;
}

.socialmedia a {
	color: var(--third);
	transition: all 0.2s ease-in-out;
}

.socialmedia i {
	mix-blend-mode: difference;
	margin-bottom: 20px;
	transition: all 0.2s ease-in-out;
}

.socialmedia i:hover {
	transform: scale(1.2);
}

.portfolio {
	display: flex;
	flex-direction: column;
	margin-top: 55px;
	height: 100vh;
	background-color: #fff;
}

.portfolio h1 {
	margin-bottom: 20px;
}

.navigate {
	position: fixed;
	right: 5%;
	top: 43%;
	transform: rotate(-10deg);
	transition: all 0.2s ease-in-out;
}

.navigate img {
	opacity: 10%;
	margin-left: 30px;
}

.navigate p {
	opacity: 20%;
	font-size: 18px;
	font-family: 'Patrick Hand';
	color: #000;
}

.opacity0 {
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

.no-show {
	display: none;
}

.opacity100 {
	opacity: 100%;
}

.active {
	color: var(--secondary);
}

.alert {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.success {
	padding: 5px 10px;
	border-radius: 4px;
	box-shadow: 0 0 10px 3px rgba(209, 209, 209, 0.3);
	background-color: var(--light);
	border-left: #00c851 5px solid;
}

.error {
	padding: 5px 10px;
	border-radius: 4px;
	box-shadow: 0 0 10px 3px rgba(209, 209, 209, 0.3);
	background-color: var(--light);
	border-left: var(--error) 5px solid;
}

.typeCheat {
	position: fixed;
	bottom: 10px;
	right: 0;
	color: var(--light);
	text-transform: uppercase;
	margin-right: 20px;
	border-bottom: var(--light) 1px solid;
	width: 10%;
}

.portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projects {
	list-style: none;
	display: flex;
	flex-direction: row;
	width: 80vw;
}

.project {
	margin-right: 40px;
	margin-top: 50px;
	background-color: var(--light);
	width: 50%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: var(--first) 0 0 10px 2px;
	transition: 0.2s all ease-in;
	border-bottom: 3px solid var(--secondary);
}

.project:hover {
	transform: scale(1.02);
	box-shadow: var(--first) 0 0 10px 4px;
}

.project-image {
	border-radius: 10px;
}

.project-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.project-info h2 {
	font-weight: 500;
	margin-bottom: 10px;
	color: var(--third);
}

.project-links {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin-top: 17px;
}

.project-links a {
	text-decoration: none;
	color: var(--third);
}

.project-links i,
span {
	color: var(--third);
}

.pl-left,
.pl-right {
	padding: 5px 20px;
}

.pl-left:hover,
.pl-right:hover {
	background-color: var(--first);
	border-radius: 5px;
}

.contact {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form > input {
	border: 0;
	border-bottom: 1px solid var(--first);
	padding: 5px;
	font-size: 1rem;
	border-radius: 5px;
	transition: 0.5s all ease-in;
}

form > textarea {
	margin-top: 10px;
	border: 0;
	border-bottom: 1px solid var(--first);
	padding: 5px;
	border-radius: 5px;
	resize: none;
}

form > input:focus,
form > textarea:focus {
	outline: 0;
	border-radius: 5px;
	border-bottom: 1px solid var(--secondary);
	color: var(--secondary);
}

form > button:focus {
	outline: 0;
	border-radius: 5px;
	border-bottom: 1px solid var(--secondary);
	box-shadow: var(--first) 0 0 10px 2px;
	color: var(--third);
}

textarea::placeholder {
	font-size: 1rem;
}
::placeholder {
	color: var(--first);
}

form > button {
	margin-top: 20px;
	padding: 5px;
	border: 0;
	background-color: transparent;
	font-size: 1rem;
	color: var(--first);
	border-radius: 5px;
	/**box-shadow: var(--first) 0 0 15px 2px;**/
	border-bottom: 2px solid transparent;
	transition: 0.4s all ease-in;
}

form > button:hover {
	border-bottom: 2px solid var(--secondary);
	box-shadow: var(--first) 0 0 10px 2px;
	color: var(--third);
}

.contact-form .tooltip {
	margin-top: 10px;
	color: var(--first);
}

@keyframes rgb {
	0% {
		background-position: 0% 19%;
	}
	50% {
		background-position: 100% 82%;
	}
	100% {
		background-position: 0% 19%;
	}
}

.gradient-border {
	position: fixed;
	bottom: 0;
	height: 15px;
	width: 100%;
	background: linear-gradient(270deg, #ffff00, #ffa500, #f14444, #d53567, #9a109a);
	background-size: 200% 200%;
	animation: rgb 3s ease infinite;
}
